/* Estilos de la web */

.main-container{
    margin-top: 90px;
    margin-bottom: 150px;
}

.bg-custom{
    background-image: linear-gradient(15deg, #09a330 0%, #a0d080 100%);
}

.puntero{
    cursor: pointer;
}

.center {
    width: 75%;
    margin: 0px auto;
}

.left {
    float: left;
    margin-left: 10px;
}

.right {
    float: right;
    margin-right: 10px;  
}

.clearfix {
    clear: both;
    float: none;
}

a{
    color: white !important;
}

a:hover {
    color: white !important;
    text-decoration: none !important;
}

.active {
    border-top: 5px solid white;
    color: white !important;
}

.btn {
    flex: 1 1 auto;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    border: 1px solid #09a330 !important;
}

.btn-4 {
    background-image: linear-gradient(to right, #a0d080 0%, #c9fbc2 51%, #09a330 100%);
}

.btn:hover {
    background-position: right center;
    /* change the direction of the change here */
}

.div-pic-1{
    width: 100%;
    height: 300px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pic-titulo{
    position: absolute;
    bottom: 0px;
    left: 10px;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.div-pic-2{
    width: 100%;
    height: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

footer {
    background: rgba(98, 125, 77, 1);
    background: -moz-linear-gradient(left, rgba(98, 125, 77, 1) 0%, rgba(9, 163, 48, 1) 0%, rgba(9, 163, 48, 0.8) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(98, 125, 77, 1)), color-stop(0%, rgba(9, 163, 48, 1)), color-stop(100%, rgba(9, 163, 48, 0.8)));
    background: -webkit-linear-gradient(left, rgba(98, 125, 77, 1) 0%, rgba(9, 163, 48, 1) 0%, rgba(9, 163, 48, 0.8) 100%);
    background: -o-linear-gradient(left, rgba(98, 125, 77, 1) 0%, rgba(9, 163, 48, 1) 0%, rgba(9, 163, 48, 0.8) 100%);
    background: -ms-linear-gradient(left, rgba(98, 125, 77, 1) 0%, rgba(9, 163, 48, 1) 0%, rgba(9, 163, 48, 0.8) 100%);
    background: linear-gradient(to right, rgba(98, 125, 77, 1) 0%, rgba(9, 163, 48, 1) 0%, rgba(9, 163, 48, 0.8) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#09a330', GradientType=1);
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #444;
}

footer p {
    margin: 0px;
    padding: 0px;
}

.sub-header-error {
    font-size: 38px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px solid #eee;
}

/* Animaciones */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
  
.fast {
-webkit-animation-duration: 0.3s;
animation-duration: 0.3s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

@keyframes fadeIn {
from {
    opacity: 0;
}

to {
    opacity: 1;
}
}
  
.fadeIn {
animation-name: fadeIn;
}